<div class="container">
	<div class="header" ng-show="title">
		<h3>{{ title }}</h3>
	</div>
	<div class="content" ng-switch on="mode">
		<div ng-switch-when="TIME_GOLD">
			<table>
				<tr ng-repeat="timerow in datasource.timeAndGoldTable.series track by $index">
					<td ng-repeat="cell in timerow track by $index">
						{{ cell | percentage:4}}
					</td>
				</tr>
			</table>
			Missing framework to display data :( It is parsed though (see console)
		</div>
		<div ng-switch-when="TIME">
			Missing framework to display data :( It is parsed though (see console)
		</div>
		<div ng-switch-when="GOLD">
			Missing framework to display data :( It is parsed though (see console)
		</div>
		<div ng-switch-default>
			Overall Winrate:<br>
			{{datasource.overall.value | percentage}}
		</div>
	</div>
</div>