body {
	text-align: center;
}

#content {
	text-align: left;
}

#header {
    padding-top: 1em;
    padding-left: 1em;
}

footer {
	margin: 1em auto 0;
	width: 70%;
	text-align: center;
}

.dataview {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-bottom: 0;
    border-collapse: collapse;
}

.navbar li {
	text-align: center;
    display: inline;
    overflow: auto;
}

.navbar li a {
	display: inline-block;
    padding: 0.8em 1em 0.3em;
    font-size: 1.33em;
    border: solid 1px;
    border-bottom: 0;
}

.container {
	border-radius: 2px;
	position: relative;
	overflow: auto;
	width: auto;
}

.container > .header {
	padding: 0 1em 0;
}

.container > .content {
	padding: 1em;
	overflow: auto;
}

.container > .footer {
	border-top: 2px solid;
	padding: 0 1em 0;
	overflow: auto;
}

.title {
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	text-align: center;
}

.shrinkwrapper {
	display: inline-block;
}

.shrink {
	display: inline-block;
}

.notext {
	line-height: 0;
}

.spriteselector {
	margin: 5px;
}

.fullspan {
	display: inline-block;
	width: 100%;
}

/* See http://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/ */
.Center-Container {
  position: relative;
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Right {
  left: auto; right: 0;
  text-align: right;
}

.Absolute-Center.is-Left {
  right: auto; left: 0;
  text-align: left;
}
/* end of import */

.table-label-y {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
}
