<p>Lirum ipsum</p>
<div class="container">
	<div class="header">
		Title to see
	</div>
	<div class="content">
		Some more text to see
	</div>
	<div class="footer">
		Example footer text
	</div>
</div>
<table style="width: 200px; height: 200px;">
	<tr
		><td style="background-color: black;padding: 0;"></td
		><td style="background-color: white;padding: 0;"></td
		><td style="background-color: black;padding: 0;"></td>
	</tr
	><tr>
		<td style="background-color: white;padding: 0;"></td
		><td style="background-color: black;padding: 0;"></td
		><td style="background-color: white;padding: 0;"></td>
	</tr>
</table>
